html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*
import fonts
*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');



/*
size add to box not content
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


.content {
    height: 100vh;
}

/* navigation styles start here */

header {
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    margin-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #fff;
}



   

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 7fr) 1fr;
    }

    nav {

        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }


h1 {
    font-size: 4rem;
    color: #000;
    position: absolute;
    left: 45%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap;
}

p {
    color: rgb(55, 54, 54);
    position: absolute;
    font-size: large;
    left: 50%;
    top: 43%;
    transform: translateX(-53%);
    white-space: normal;
}

.ic {
    display: absolute;
    left: 45%;
    top: 30%;
    transform: translateX(-50%);
}

.ic img {
    display: absolute;
    left: 45%;
    top: 30%;
    width: 100px;
    height: 100px;

    border-radius: 50%;
}

.ic img:hover {
    opacity: .5;
}

.split.left img {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 15%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;

}

.split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #192436;
}

.split.right {
    right: 0;
}

.split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #af9e80;
}



@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: medium;
    }

    .split.left img {
        width: 70%;
        top: 40%;
    }
}